.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Đảm bảo card login được căn giữa theo chiều cao */
  background: url('../../../public/backgoundAuthPage.jpg') center center/cover; /* Đường dẫn đến hình nền */
}
